body {
    background-color: #f2f2f3;
}

#Select_Districts ,#Select_Schools, #Select_Bus_Stop, #View_All_Buses_Button ,#Update_State_Modal_Button ,#Delete_State_Modal_Button ,#Create_District_Modal_Button ,#Update_District_Modal_Button ,#Delete_District_Modal_Button ,#Create_School_Modal_Button ,#Update_School_Modal_Button ,#Delete_School_Modal_Button ,#Create_Bus_Stop_Modal_Button ,#Update_Bus_Stop_Modal_Button ,#Delete_Bus_Stop_Modal_Button {
    visibility: hidden;
}

#Login, #Logout, #Account {
    display: none;
}